doctype html
html
  head
    meta(charset="utf-8")

    title IOI-Camp Flow

    meta(name="description" 
      content="A framework for easily creating beautiful presentations using HTML")
    meta(name="author" content="Hakim El Hattab")

    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")

    link(rel="stylesheet" href="reveal/css/reveal.css")
    link(rel="stylesheet" href="reveal/css/theme/black.css" id="theme")
    link(rel="stylesheet" href="css/style.css")

    <!-- Code syntax highlighting -->
    <link rel="stylesheet" href="reveal/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    script.
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'reveal/css/print/pdf.css' : 'reveal/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );

    <!--[if lt IE 9]>
    script(src="lib/js/html5shiv.js")
    <![endif]-->

  body
    block latex_settings

    .reveal
      block slides

    script(src="js/jquery.js")
    script(src="reveal/lib/js/head.min.js")
    script(src="reveal/js/reveal.js")
    script(src="js/sketch.min.js")

    script.
      // Full list of configuration options available at:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        //-showNotes: true,

        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Optional reveal.js plugins
        dependencies: [
          { src: 'reveal/lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'reveal/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'reveal/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'reveal/plugin/zoom-js/zoom.js', async: true },
          { src: 'reveal/plugin/notes/notes.js', async: true },
          { src: 'reveal/plugin/math/math.js', async: true, callback: function() {
            setTimeout( function() {
              MathJax.Hub.Config({
                SVG: {
                  scale: 90
                  },
                "HTML-CSS": {
                  scale: 90,
                  }
                });
              }, 2000);
            },
            config: 'TeX-AMS_HTML-full'
          },
          { src: 'js/dazzleSketch.js', async: true }
        ]
      });
