section
  +slide
    h1 樹

  +mdslide
    | ## 樹的定義
    | 有各種版本
    | * 沒有環的連通圖。
    | * 沒有環，且加一條邊就會有環。
    | * 任兩個點都有唯一的簡單路徑。

    aside.notes.
      這通常是出題著要出樹的題目，不想直接寫。

  include interv
  include dc
  include merge
  include chain
