
section
  +slide
    h1 Duality

  +slide
    h2 對偶問題

    p 問題常常是一體兩面
      br
      | 某個求最大值的問題常常等價於另一個求最小值的問題
    ul
      li.fragment 「你會的問題裡最難的一個」差不多就是
        br
        | 「你不會的問題裡最簡單的一個」
      li.fragment 「最多可以放多少隻蘿莉在 瀚x 旁邊他還能保持理智」
        | 其實就是在問「要陷害 x瀚 去坐牢要擺幾隻蘿莉？」
      li.fragment 「給你 1000 元你最多可以活多久」跟
        br
        | 「你要活一個月至少需要多少錢？」差不多。

    +n.
      第 3. 就是要找最省錢的一種生活方式

  +slide
    p 那最大流的對偶是什麼呢？
    p 想像一下…

    +n.
      * 高速公路： 哪裡哪裡壅塞，你其它第方開再快也沒有用
      * 網路： 光纖 1G ，連 youtube 看直播卡 經過很多線路 
      * 水管： 有些水管堵住

  +slide
    p 一個網路的最大流，就是那些被 <br> 「堵住」的水管的淨流量。
    p 這些堵住的水管會把點分成兩群。

    +n 畫個圖

